* {
  margin: 0;
  padding: 0;
  font-family: "Carlito", sans-serif;
}

body {
  width: 100vw;
  height: max-content;
  gap: 0px;
  opacity: 1;
  margin: auto;
}
.navigationbar {
  width: 100vw;
  height: 35px;
  padding: 20px 0px 20px 0px;
  gap: 0px;
  border: 0px 0px 1px 0px;
  opacity: 1;
  background: #ffffff;
  border-bottom: 1px solid #e2ecff;
  box-shadow: 0px 1px 2px 0px #1018280d;
  margin: none;
  position: fixed;
  z-index: 999;
}

.navigationbox {
  width: 100%;
  height: 35px;
  gap: 0px;
  opacity: 1;
  padding-left: 50px;
  margin: none;
  padding-right: none;
  display: flex;
  justify-content: space-between;
}

.nav {
  width: max-content;
  height: 35px;
  padding: none;
  gap: 0px;
  opacity: 1;
  margin-right: 100px;
}

.nav a {
  width: max-content;
  height: 35px;
  gap: 0px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #171b23;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  margin: none;
}

.nav a:hover {
  color: #2962ff;
  font-weight: 600;
}

.nav .nav_login:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  color: #fcfdff;
}

.nav_logo {
  width: 110px;
  height: 30px;
  gap: 0px;
  opacity: 1;
  padding: none;
  margin: none;
}

.nav_login {
  width: max-content;
  height: 35px;
  padding: 10px;
  border-radius: 100px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #fcfdff;
  border: 1px solid #d4e0ff;
  vertical-align: middle;
}

.nav .nav_login {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  color: #4a6395;
  padding: 5px 20px 5px 20px;
  width: max-content;
}

.nav_join {
  width: max-content;
  height: 35px;
  padding: 0px 10px 0px 10px;
  border-radius: 100px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #2962ff;
  vertical-align: middle;
}

.nav .nav_join {
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  color: #2962ff;
  padding: 5px 20px 5px 20px;
  width: max-content;
}

.nav .nav_join:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  color: #fcfdff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: max-content;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
  z-index: 1;
  text-decoration: none;
}

.dropdown-content a {
  width: max-content;
  height: 35px;
  gap: 0px;
  opacity: 1;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #4a6395;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  margin: none;
}

.dropdown-content a:hover {
  font-weight: 600;
}

.dropdown span {
  width: max-content;
  height: 35px;
  gap: 0px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #171b23;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  margin: none;
}

.dropdown span:hover {
  color: #2962ff;
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.homepage1 {
  width: 100vw;
  height: 100px;
  gap: 80px;
  opacity: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.homepage1_1 {
  width: max-content;
  height: 100px;
  gap: 80px;
  opacity: 1;
  margin: auto;
}

.error_title {
  width: 30vw;
  height: 77px;
  gap: 0px;
  opacity: 1;
  font-size: 120px;
  font-weight: 650px;
  line-height: 120px;
  text-align: left;
  margin-left: 150px;
  align-items: left;
}

.error_content {
  width: 36vw;
  height: fit-content;
  gap: 0px;
  opacity: 1;
  font-size: 28px;
  font-weight: 400;
  line-height: 150px;
  text-align: left;
  color: #64758f;
  margin-left: 150px;
  line-height: 1.5;
}

.homepage1_1_title {
  width: max-content;
  height: 77px;
  gap: 0px;
  opacity: 1;
  font-size: 75px;
  font-weight: 650px;
  line-height: 160px;
  text-align: center;
  margin: auto;
}

.homepage1_1_content {
  width: max-content;
  height: 32px;
  gap: 0px;
  opacity: 1;
  font-size: 25px;
  font-weight: 400;
  line-height: 150px;
  text-align: center;
  color: #64758f;
  margin: auto;
}

.homepage1_1_content1 {
  width: 900px;
  height: 84px;
  gap: 0px;
  opacity: 1;
  font-size: 25px;
  font-weight: 600px;
  line-height: 130px;
  text-align: center;
  text-decoration: none;
  justify-content: center;
  padding-left: 40px;
  margin: auto;
}

.homepage1_1_btn a {
  width: 218px;
  height: 54px;
  padding: 14px 40px 14px 40px;
  gap: 10px;
  border-radius: 60px;
  opacity: 1;
  background: linear-gradient(274.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin: none;
}

.homepage1_1_btn a:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
}

.homepage1_2 {
  width: max-content;
  height: Hug (50px) px;
  top: 5px;
  left: 100px;
  gap: 50px;
  opacity: 1;
  margin: auto;
}

.coverphoto {
  width: 900px;
  height: 600px;
  gap: 0px;
  border-radius: 50px 50px 0px 0px;
  border: 1px;
  opacity: 1;
  box-shadow: 0px 16px 100px -10px #2f56a526;
}

.centerimage {
  width: 100vw;
  text-align: center;
  margin: auto;
  padding: none;
}

.homepage2 {
  width: 100vw;
  height: 20px;
  gap: 80px;
  border: 0px 0px 1px 0px;
  opacity: 1;
  margin: auto;
}

.homepage2_1_title {
  width: max-content;
  height: 29px;
  gap: 0px;
  opacity: 1;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #2962ff;
  justify-content: center;
  margin: auto;
}

.homepage3 {
  width: 100vw;
  height: 200px;
  padding: 80px 0px 100px 0px;
  gap: 80px;
  opacity: 1;
  margin: auto;
}

.homepage3_1 {
  width: 100%;
  height: Hug (206px) px;
  padding: 0px 0px 0px 0px;
  gap: 30px;
  opacity: 1;
  margin: auto;
}

.page_title {
  width: max-content;
  height: max-content;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 100px;
  border: 1px;
  opacity: 1;
  background: #fcfdff;
  border: 1px solid #d4e0ff;
  box-shadow: 0px 1px 20px 0px #2f56a50d;
  font-size: 16px;
  font-weight: 700;
  line-height: auto;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--Light-Lines, #3477f9);
  margin: auto;
}

.page_title_ICON {
  width: 15px;
  height: auto;
  gap: 0px;
  opacity: 1;
  padding-right: 10px;
  margin: auto;
}

.page_subtitle {
  width: 900px;
  height: 120px;
  gap: 0px;
  opacity: 1;
  font-size: 45px;
  font-weight: 450;
  line-height: 54px;
  text-align: center;
  padding-top: 30px;
  margin: auto;
}

.page_content {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #64758f;
  width: 820px;
  padding: none;
  margin: auto;
  justify-content: center;
  height: fit-content;
}

.features {
  width: 100vw;
  height: Hug (452px) px;
  gap: 0px;
  opacity: 1;
  display: flex;
  justify-content: center;
  margin: none;
  padding: none;
}

.features_left {
  width: 50%;
  height: fit-content;
  padding-left: 10%;
  gap: 75px;
  opacity: 1;
  margin-right: none;
  margin-top: auto;
  margin-bottom: auto;
}

.features_right {
  width: 50%;
  height: 500px;
  gap: 0px;
  border-radius: 50px 0px 0px 50px;
  border: 1px;
  opacity: 1;
  background: #f1f3f6;
  border: 1px solid #d4e0ff;
  box-shadow: 0px 2px 4px -2px #2f56a50f;
  margin: none;
  padding: none;
}
.features_right1 {
  width: 50%;
  height: 500px;
  gap: 0px;
  border-radius: 0px 50px 50px 0px;
  border: 1px;
  opacity: 1;
  background: #f1f3f6;
  border: 1px solid #d4e0ff;
  box-shadow: 0px 2px 4px -2px #2f56a50f;
  margin: none;
  padding: none;
}

.features_title {
  width: 562px;
  height: 42px;
  gap: 0px;
  opacity: 1;
  font-size: 20px;
  font-weight: 700;
  line-height: 41.66px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #2962ff;
  padding: none;
  margin: none;
}

.features_subtitle {
  width: 500px;
  height: 62px;
  gap: 0px;
  opacity: 1;
  font-size: 30px;
  font-weight: 500;
  line-height: 31.25px;
  text-align: left;
  color: #171b23;
  margin: none;
  padding: none;
}

.features_content {
  width: 500px;
  height: 52px;
  gap: 0px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
  color: #64758f;
  margin: none;
  padding: none;
}

.features_link {
  width: fit-content;
  height: 26px;
  gap: 0px;
  opacity: 1;
}

.features_link a {
  font-weight: 700;
  line-height: 26.04px;
  text-align: left;
  color: #2962ff;
  text-decoration: none;
  margin: none;
  padding: none;
}

.features_link:after {
  content: " »";
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
  color: #2962ff;
}

.features_link:hover:after {
  opacity: 1;
  right: 10px;
}

.homepage4 {
  width: 100vw;
  height: max-content;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 0px;
  opacity: 1;
  background: #fcfdff;
  margin: auto;
}

.homepage4_1 {
  width: 900px;
  height: Hug (206px) px;
  gap: 50px;
  opacity: 1;
  margin: auto;
}

.homepage4_title {
  width: 800px;
  height: 58px;
  gap: 0px;
  opacity: 1;
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  text-align: center;
  color: #171b23;
  margin: auto;
}

.homepage4_subtitle {
  width: 800px;
  height: 32px;
  gap: 0px;
  opacity: 1;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #64758f;
  margin: auto;
}

.homepage4_2 {
  width: max-content;
  height: 54px;
  gap: 35px;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.homepage4_2_btn1 a {
  width: max-content;
  height: Hug (54px) px;
  padding: 14px 40px 14px 40px;
  gap: 10px;
  border-radius: 60px;
  opacity: 1;
  background: linear-gradient(274.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  margin: auto;
  text-decoration: none;
}

.homepage4_2_btn1 a:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
}

.homepage4_2_btn2 a {
  width: max-content;
  height: 50px;
  padding: 14px 40px 14px 40px;
  gap: 10px;
  border-radius: 60px;
  border: 1px;
  opacity: 1;
  background: #fcfdff;
  border: 1px solid #2962ff;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #2962ff;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
}

.homepage4_2_btn2 a:after {
  transition: 0.5s;
  opacity: 0;
}

.homepage4_2_btn2 a:hover:after {
  opacity: 1;
}

.homepage4_2_btn2 a:hover {
  background: #f5f8fb;
}

.homepage5 {
  width: 100vw;
  height: 200px;
  padding-top: 60px;
  gap: 80px;
  opacity: 1;
  background: #f0f5ff;
  margin: auto;
}

.homepage5_1 {
  width: max-content;
  height: 20px;
  padding: 0px 80px 0px 80px;
  gap: 60px;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.homepage5_11 {
  width: 200px;
  height: 0px;
  gap: 0px;
  border: 1px;
  opacity: 1;
  border: 1px solid #64758f;
  margin: auto;
}

.homepage5_12 {
  width: 300px;
  height: 11px;
  gap: 0px;
  opacity: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 0px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #64758f;
  margin: auto;
}

.homepage5_13 {
  width: 200px;
  height: 0px;
  gap: 0px;
  border: 1px;
  opacity: 1;
  rotate: -180 deg;
  border: 1px solid #64758f;
  margin: auto;
}

.containers {
  display: flex;
  align-items: center;
  height: 150px; /* Set a fixed height for the container */
  width: 100%;
  overflow: hidden;
}

.scroll-parent {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.scroll-element {
  display: flex;
  animation: scroll 40s linear infinite;
  margin-top: 20px;
}

.scroll-element img {
  width: auto;
  height: 60px;
  padding: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.homepage6 {
  width: 100vw;
  height: max-content;
  padding-top: 100px;
  padding-bottom: 200px;
  gap: 80px;
  opacity: 1;
  background: #fcfdff;
  text-align: center;
  margin: auto;
}

.homepage6_1 {
  width: 90vw;
  height: 320px;
  padding: 0px 0px 0px 0px;
  gap: 50px;
  opacity: 1;
  margin: auto;
}

.homepage6_title {
  width: 200px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  gap: 10px;
  border-radius: 100px;
  border: 1px;
  opacity: 1;
  background: #fcfdff;
  border: 1px solid #d4e0ff;
  box-shadow: 0px 1px 20px 0px #2f56a50d;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: var(--Light-Lines, #3477f9);
  justify-content: center;
  margin: auto;
}

.homepage6_subtitle {
  width: 90vw;
  height: 58px;
  gap: 0px;
  opacity: 1;
  font-size: 40px;
  font-weight: 500;
  line-height: 57.6px;
  text-align: center;
  color: #171b23;
  margin: none;
}

.homepage6_content {
  width: 90vw;
  height: 64px;
  gap: 0px;
  opacity: 1;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #64758f;
  margin: auto;
}

.blue_btn {
  width: max-content;
  height: max-content;
  padding: 14px 30px;
  gap: 10px;
  border-radius: 60px;
  opacity: 1;
  background: linear-gradient(274.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  margin: auto;
}

.blue_btn a {
  width: 218px;
  height: 54px;
  padding: 14px 40px 14px 40px;
  gap: 10px;
  opacity: 1;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  margin: none;
}

.blue_btn:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
}

.pay_btn:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
}

.pay_btn {
  width: max-content;
  height: max-content;
  padding: 14px 100px 14px 100px;
  gap: 10px;
  border-radius: 60px;
  opacity: 1;
  background: linear-gradient(274.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  margin: auto;
}

.footer1 {
  width: 100%;
  height: 130px;
  padding: 30px 0px 100px 0px;
  gap: 60px;
  opacity: 1;
  background: #2962ff;
  margin: 0;
}

.footer1_1 {
  width: max-content;
  height: 60px;
  gap: 30px;
  opacity: 1;
  margin: auto;
}

.footer1_1 h3 {
  width: max-content;
  height: 62px;
  gap: 0px;
  opacity: 1;
  font-size: 35px;
  font-weight: 500;
  line-height: 62.5px;
  text-align: center;
  color: #fcfdff;
  margin: auto;
}

.footer1_1 h4 {
  width: max-content;
  height: 32px;
  gap: 0px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #d4e0ff;
  margin: auto;
}

.footer1_2 {
  width: max-content;
  height: Hug (109px) px;
  gap: 30px;
  opacity: 1;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: auto;
}

.footer1_2 .trystartlinenow_btn {
  width: max-content;
  height: Hug (54px) px;
  padding: 14px 30px 14px 30px;
  gap: 10px;
  border-radius: 60px;
  opacity: 1;
  background: #fcfdff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #2962ff;
  text-decoration: inherit;
  margin: auto;
}

.footer1_2 .trystartlinenow_btn:hover {
  background: #ebf3ff;
}

.footer1_2 .contactus_btn {
  width: Hug (279px) px;
  height: Hug (54px) px;
  padding: 14px 40px 14px 40px;
  gap: 10px;
  border-radius: 60px;
  border: 1px;
  opacity: 1;
  border: 1px solid #fcfdff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-decoration: inherit;
  margin: auto;
}

.footer1_2 .contactus_btn:hover {
  background: #205cff;
}

.footer2 {
  width: 100%;
  height: Hug (385px) px;
  padding: 70px 0px 40px 0px;
  gap: 40px;
  opacity: 1;
  margin: none;
}

.footer2_1 {
  width: calc(100%-250px);
  height: Hug (159px) px;
  gap: 50px;
  justify-content: space-between;
  opacity: 1;
  display: flex;
  margin: none;
  padding-left: 120px;
  padding-right: 140px;
}

.footer_flex_space_between {
  display: flex;
  justify-content: space-between;
  padding: none;
  margin: none;
  column-gap: 100px;
}

.footer2_12 {
  width: fit-content;
  height: Hug (113px) px;
  gap: 25px;
  opacity: 1;
  padding: none;
  margin: none;
}

.footer2_121 {
  width: Fill (182.67px) px;
  height: Hug (113px) px;
  gap: 25px;
  opacity: 1;
}

.footer_logo {
  width: 156px;
  height: 44px;
  gap: 0px;
  opacity: 1;
  background-size: contain;
}

.footer_logo_content {
  width: 500px;
  height: 84px;
  gap: 0px;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
}

.footer_title a {
  width: 182.67px;
  height: 21px;
  gap: 0px;
  opacity: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.83px;
  text-align: left;
  color: #171b23;
  text-decoration: none;
}

.footer_content a {
  width: max-content;
  min-width: 150px;
  height: 21px;
  gap: 0px;
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  text-decoration: none;
}

.footer_content a:hover {
  color: #205cff;
}

.footer2_2 {
  width: 80vw;
  height: 0px;
  gap: 0px;
  border: 1px;
  opacity: 1;
  border: 1px solid var(--Lines, #e2ecff);
  margin-left: 120px;
}

.footer2_3 {
  width: 80vw;
  height: Hug (36px) px;
  gap: 30px;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.23px;
  text-align: center;
  color: var(--NCM-2nd-Black, #64758f);
  padding-left: 140px;
}

.problem {
  width: 100%;
  height: max-content;
  gap: 50px;
  opacity: 1;
  margin: auto;
  padding-bottom: 85px;
}

.problem1 {
  width: max-content;
  height: fit-content;
  gap: 0px;
  opacity: 1;
  border-bottom: 1.5px solid #d4e0ff;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: none;
}

.problem1 button:hover {
  width: max-content;
  height: fit-content;
  gap: 0px;
  opacity: 1;
  border-bottom: 1.5px solid #2962ff;
  margin: none;
  padding: none;
}

.problemIcon {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  text-align: center;
  width: max-content;
  height: max-content;
  padding: 0px 20px 20px 20px;
  gap: 20px;
  opacity: 1;
  background: #ffffff;
  border: none;
  margin: auto;
}

.problemIconPNG {
  width: 60px;
  height: 60px;
  gap: 0px;
  opacity: 1;
  padding: 15px;
}

.lowOutreachText {
  display: none;
  margin-top: 10px;
}

.problemIcon_text {
  width: 900px;
  height: 60px;
  border-radius: 40px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #d4e0ff;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #64758f;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  padding: 30px 50px 30px 50px;
}

.problem2 {
  width: 100%;
  height: max-content;
  padding: 80px 0px 100px 0px;
  gap: 0px;
  opacity: 1;
  background: #f0f5ff;
  margin: none;
}

.problem3 {
  width: max-content;
  height: max-content;
  padding: 80px 20px 100px 20px;
  gap: 0px;
  opacity: 1;
  margin: auto;
}

.problem2_1 {
  width: 900px;
  height: max-content;
  gap: 0px;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.flip-box {
  width: max-content;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  padding: none;
}

.flip-box-inner {
  width: 240px;
  height: 260px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background-color: transparent;
  border: 1px solid #f1f1f1;
  padding: none;
  margin: 10px;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box-front {
  width: 180px;
  height: 200px;
  background: #ffffff;
  border: 1px solid #2962ff;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  color: #171b23;
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  padding: 30px;
  margin: none;
}

.flip-box-back {
  width: 180px;
  height: 200px;
  background: #2962ff;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin: none;
  transform: rotateY(180deg);
  font-size: 18px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box .flip-box-inner:active {
  transform: rotateY(180deg);
}

.flip-box .flip-box-inner:focus {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.pricing {
  width: 100vw;
  height: max-content;
  padding-top: 80px;
  gap: 80px;
  opacity: 1;
  background: #fcfdff;
  margin: auto;
}

.pricing_subtitle {
  width: 900px;
  height: 100px;
  gap: 0px;
  opacity: 1;
  font-size: 38px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  color: #171b23;
  justify-content: center;
  margin: auto;
}

.pricing1 {
  width: max-content;
  height: max-content;
  gap: 18px;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 0px;
}

.pricing2 {
  width: 350px;
  height: 700px;
  padding: 15px;
  gap: 0px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #ffffff;
  border: 1px solid var(--Lines, #e2ecff);
  margin: 0;
  padding-bottom: 50px;
}

.pricing2:hover {
  transform: scale(1.05);
}

.longin_label_content {
  width: 100%;
  height: Hug (41px) px;
  padding: 8px 0px 8px 10px;
  gap: 5px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #d4e0ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f80;
  outline: none;
}

.short_label_content {
  width: 45%;
  height: Hug (41px) px;
  padding: 8px 0px 8px 10px;
  gap: 0px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #d4e0ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f80;
  margin-right: 5px;
  outline: none;
}

.short_label_contents {
  width: 33%;
  height: Hug (41px) px;
  padding: 8px 0px 8px 10px;
  gap: 0px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #d4e0ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f80;
  margin-right: 5px;
  outline: none;
}

.short_label_contentss {
  width: 16%;
  height: Hug (41px) px;
  padding: 8px 0px 8px 10px;
  gap: 0px;
  border-radius: 10px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  border: 1px solid #d4e0ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f80;
  margin-right: 5px;
  outline: none;
}

.pricing2_1 {
  width: 300px;
  height: 38px;
  gap: 0px;
  opacity: 1;
  font-size: 17px;
  font-weight: 700;
  line-height: 38px;
  text-align: left;
  color: #171b23;
}
.pricing2_2 {
  width: 300px;
  height: 15px;
  gap: 0px;
  opacity: 1;
  font-size: 30px;
  font-weight: 700;
  line-height: 5px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2962ff;
}
.pricing2_3 {
  width: 300px;
  height: 15px;
  padding: 0px 0px 10px 0px;
  gap: 8px;
  border-radius: 100px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #fcfdff;
  border: 1px solid #d4e0ff;
  font-size: 13px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #64758f;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.pricing2_4 {
  width: 300px;
  height: max-content;
  gap: 0px;
  opacity: 1;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #64758f;
  padding: 5px;
}
.pricing_label {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #64758f;
  margin: auto;
  padding: 0px;
}

.contact {
  width: Fill (1, 440px) px;
  height: Hug (802px) px;
  padding: 80px 220px 100px 220px;
  gap: 60px;
  opacity: 1;
}

.contact_title {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 62.5px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #2962ff;
}

.contact1 {
  width: Fixed (1, 070px) px;
  height: Hug (500px) px;
  gap: 0px;
  justify-content: center;
  opacity: 1;
  display: flex;
  margin: auto;
  padding: auto;
}

.contact_form_placeholder {
  width: 501px;
  height: 350px;
  gap: 0px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #f1f3f6;
  border: 1px solid #e2ecff;
  box-shadow: 0px 2px 4px -2px #2f56a50f;

  box-shadow: 0px 4px 8px -2px #2f56a51a;
  margin-top: 50px;
}

.contact_form {
  width: 50%;
  height: 350px;
  gap: 0px;
  opacity: 1;
  padding-left: 50px;
  color: #64758f;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  margin-top: 80px;
}

.contact_reason {
  color: #64758f;
  font-size: 20px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  border: none;
  margin: 0px 0px 10px 0px;
  padding: none;
}

.solution {
  width: 100%;
  height: fit-content;
  gap: 0px;
  opacity: 1;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin: none;
}

.solution1 {
  padding: none;
  margin: none;
  width: 390px;
  height: fit-content;
}

.solution1_1 {
  padding: none;
  margin: none;
  width: 100px;
  height: fit-content;
}

.solution_content1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.25px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #2962ff;
}

.solution_content2 {
  width: auto;
  height: 250px;
  gap: 0px;
  border: 1px;
  opacity: 1;
  padding-top: 15px;
  margin: none;
}

.solution_content2_1 {
  width: auto;
  height: 200px;
  gap: 0px;
  border: 1px;
  opacity: 1;
  padding-top: 70px;
  margin: none;
}

.solution_content3 {
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  color: #64758f;
  margin: none;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
}

.join {
  width: Fill (1, 440px) px;
  height: Hug (1, 074px) px;
  padding: 80px 220px 100px 220px;
  gap: 60px;
  opacity: 1;
  background: #f0f5ff;
}

.login {
  width: Fill (1, 440px) px;
  height: Hug (1, 074px) px;
  padding: 80px 220px 100px 220px;
  gap: 60px;
  opacity: 1;
  background: #f0f5ff;
}

.login1 {
  width: Fill (1, 440px) px;
  height: Hug (1, 074px) px;
  padding: 80px 220px 100px 220px;
  gap: 60px;
  opacity: 1;
  background: #ffffff;
}

.join_title_btn {
  width: 100%;
  height: max-content;
  gap: 0px;
  opacity: 1;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-bottom: 70px;
  margin: none;
}

.join_btn1 a {
  font-size: 22px;
  font-weight: 500;
  line-height: 31.25px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #2962ff;
  text-decoration: none;
}

.join_btn1 {
  width: fit-content;
  height: 35px;
  padding: 14px 40px 14px 40px;
  gap: 0px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #ffffff;
  border: 1px solid #2962ff;
}

.join_btn1 a:hover {
  font-weight: 700;
}

.join_btn2 {
  width: fit-content;
  height: 35px;
  padding: 14px 40px 14px 40px;
  gap: 0px;
  opacity: 1;
}

.join_btn2 a {
  font-size: 22px;
  font-weight: 500;
  line-height: 31.25px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #64758f;
  text-decoration: none;
}

.join_btn2 a:hover {
  font-weight: 700;
}

.join_main {
  width: 400px;
  height: Hug (785px) px;
  padding: 50px 100px 100px 100px;
  gap: 0px;
  border-radius: 50px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #ffffff;
  border: 1px solid #d4e0ff;
  margin: auto;
}

.join_main1 {
  width: max-content;
  height: 47px;
  gap: 0px;
  opacity: 1;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.87px;
  text-align: center;
  color: #171b23;
  margin: auto;
}

.join_main2 {
  width: 30vw;
  height: 31px;
  gap: 0px;
  opacity: 1;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.25px;
  text-align: center;
  color: #64758f;
  margin: auto;
}

.join_main3 {
  width: max-content;
  height: 21px;
  gap: 0px;
  opacity: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
  color: #171b23;
  margin: auto;
}

.join1 {
  width: 100vw;
  height: max-content;
  padding: 40px 0px 10px 0px;
  gap: 0px;
  opacity: 1;
  background: #fcfdff;
  display: flex;
  justify-content: center;
  margin: auto;
}

.join1_main {
  width: 50%;
  height: max-content;
  padding: 0px 10px 150px 0px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 1;
  background: #ffffff;
  border: none;
  margin: 50px;
}

.join1_prices {
  width: 80%;
  height: 80px;
  padding: 13px 20px 13px 15px;
  gap: 0px;
  border-radius: 20px;
  border: 1px 0px 0px 0px;
  justify-content: space-between;
  opacity: 0px;
  border: 1px solid #d4e0ff;
  margin: 10px;
}

.join1_prices:hover {
  border: 2px solid #d4e0ff;
}

.join1_prices_1 {
  display: flex;
  justify-content: space-between;
}

.join1_prices_11 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26.04px;
  text-align: left;
  color: #171b23;
}

.join1_prices_12 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  letter-spacing: -0.02em;
  text-align: left;
}

.join1_prices_13 {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  padding-top: 5px;
  padding-left: 18px;
  width: 100%;
}

.join1_main1 {
  background: linear-gradient(180deg, #2962ff 58.44%, #5db3ff 89.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: auto;
}

.join1_main2 {
  width: max-content;
  height: 47px;
  gap: 0px;
  opacity: 1;
  font-size: 36px;
  font-weight: 600;
  line-height: 46.87px;
  text-align: left;
  color: #171b23;
}

ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  font-size: 19px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
}

.nested {
  display: none;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
  color: #64758f;
  margin-right: 6px;
  width: fit-content;
}

.nested li {
  width: fit-content;
}

.nested li a {
  text-decoration: none;
  color: #2962ff;
}

.active {
  display: block;
}

.howitworks3 {
  width: 100%;
  height: max-content;
  gap: 0px;
  opacity: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 190px;
}

.howitworks3_title {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #171b23;
  width: 230px;
  text-align: center;
  margin: auto;
  padding-top: 25px;
}

.howitworks3_1 {
  width: 213.07px;
  height: 232.85px;
  gap: 0px;
  padding: 40px;
  gap: 0px;
  opacity: 1;
  margin: none;
}

.howitworks3_1_ICON {
  width: auto;
  height: 232.85px;
  gap: 0px;
  opacity: 1;
  padding: none;
  margin: none;
}

.howitworks3_2 {
  width: 80.96px;
  height: 40.59px;
  gap: 0px;
  opacity: 1;
  padding-top: 220px;
  margin: none;
}

.howitworks3_2_ICON {
  width: 80.96px;
  height: 40.59px;
  gap: 0px;
  opacity: 1;
  padding: none;
  margin: none;
}

.howitworks4 {
  height: 500px;
  gap: 0px;
  opacity: 1;
  margin: none;
  padding: none;
  text-align: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.howitworks4::-webkit-scrollbar {
  display: none;
}

.howitworks4_1 {
  height: 480px;
  height: Hug (519px) px;
  gap: 60px;
  margin: none;
  padding: none;
  display: flex;
  justify-content: center;
  transition: opacity 0.5s ease;
}

.howitworks4_1.fade-out {
  opacity: 0;
}

.howitworks4_11 {
  width: 38%;
  height: Hug (519px) px;
  gap: 60px;
  opacity: 1;
  margin: none;
  padding: none;
}

.howitworks_block {
  width: 200px;
  height: Hug (132px) px;
  gap: 0px;
  opacity: 1;
  width: 0px;
  gap: 0px;
  border: 10px 0px 0px 0px;
  border: 5px solid #2962ff;
  border-radius: 5px;
}

.howitworks_block_1 {
  width: 200px;
  height: Hug (132px) px;
  gap: 0px;
  opacity: 1;
  width: 0px;
  gap: 0px;
  border: 10px 0px 0px 0px;
  border: 5px solid #64758f;
  border-radius: 5px;
}

.howitworks_block_title {
  font-size: 29px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #171b23;
  width: 400px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.howitworks_block_content {
  font-size: 20px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
  color: #64758f;
  width: 400px;
  padding-left: 30px;
  padding-right: none;
  margin: none;
}

.howitworks_diagram {
  width: 400px;
  height: 419px;
  gap: 0px;
  opacity: 1;
  padding: none;
  margin: none;
}

.gradient_text {
  background: linear-gradient(180deg, #2962ff 58.44%, #5db3ff 89.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page_content1 {
  width: max-content;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #2962ff;
  margin: auto;
  padding-top: 40px;
  justify-content: center;
  height: 80px;
}

.short_blk {
  width: 49%;
  height: 40px;
  padding: 0px 0px 0px 0px;
  gap: 10px;
  border: 0px 0px 1px 0px;
  opacity: 1;
  border-bottom: 1px solid #d4e0ff;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
}

.short_blk,
.long_blk:focus {
  outline: none; /* Remove the outline when the input is focused */
}

.long_blk {
  width: 100%;
  height: 60px;
  padding: 0px 0px 0px 0px;
  gap: 10px;
  border: 0px 0px 1px 0px;
  opacity: 1;
  border-bottom: 1px solid #d4e0ff;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 15px;
}

/* Set a style for all buttons */
.login_btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(274.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  border: none;
  width: fit-content;
  height: max-content;
  padding: 14px 40px 14px 40px;
  gap: 0px;
  border-radius: 30px;
  opacity: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  margin: 60px 0px 0px 0px;
  white-space: nowrap; /* Ensure text stays on one line */
}

.login_btn a {
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin: auto;
}

.login_btn:hover {
  background: linear-gradient(174.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
}

.back_btn {
  background: linear-gradient(274.87deg, #2962ff -0.25%, #3676ff 51.72%, #4b97ff 99.75%);
  border: none;
  width: max-content;
  height: max-content;
  padding: 14px 40px;
  gap: 0px;
  border-radius: 30px;
  opacity: 1;
  justify-content: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  display: flex;
}

.checkbox {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #171b23;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 10px;
}

/* The "Forgot password" text */
span.psw a {
  float: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.83px;
  text-align: left;
  color: #2962ff;
  text-decoration: none;
}

span.signup a {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #2962ff;
  text-decoration: none;
}

.login_label {
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #64758f;
  outline: none;
}

.signupFooter {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #64758f;
  padding-top: 25px;
  margin: auto;
  width: 100%;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

.support {
  display: flex;
  justify-content: space-around;
}

.support_navbar {
  border-right: 1px solid #d4e0ff;
  height: 100vh;
  width: 30vw;
  padding: 100px 10px 0px 50px;
  gap: 100px;
  border: 0px 1px 0px 0px;
  opacity: 0px;
  transition: opacity 0.5s ease;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.support_content {
  width: 70vw;
  height: max-content;
  margin-left: 50px;
  margin-bottom: 50px;
  padding-right: 50px;
}

.support_navbar_MainTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.25px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  color: #2962ff;
}

.support_navbar_MainTitle a {
  text-decoration: none;
  color: #2962ff;
}

.support_navbar_title1 {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #2962ff;
  padding-bottom: 10px;
  text-decoration: none;
}

.support_navbar_title1 a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #2962ff;
  padding-bottom: 10px;
  text-decoration: none;
}

.support_navbar_title {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #171b23;
  padding-bottom: 10px;
}

.support_navbar_title a {
  font-size: 12px;
  font-weight: 700;
  line-height: 15.62px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #171b23;
  padding-bottom: 10px;
  text-decoration: none;
}

.support_navbar_subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  padding-bottom: 5px;
}

.support_navbar_subtitle a {
  text-decoration: none;
  color: #64758f;
}

.support_navbar_subtitle a:hover {
  color: #171b23;
}

.support_navbar_subtitle1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #2962ff;
  padding-bottom: 5px;
}

.support_navbar_subtitle1 a {
  text-decoration: none;
  color: #2962ff;
}

.support_navbar_subtitle_account {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  padding-bottom: 5px;
}

.support_navbar_subtitle_account:hover {
  color: #171b23;
}

.support_navbar_subtitle_team {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  padding-bottom: 5px;
}

.support_navbar_subtitle_team:hover {
  color: #171b23;
}

.support_navbar_subtitle_bookmark {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  padding-bottom: 5px;
}

.support_navbar_subtitle_bookmark:hover {
  color: #171b23;
}

.support_navbar_subtitle_plan {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  color: #64758f;
  padding-bottom: 5px;
}

.support_navbar_subtitle_plan:hover {
  color: #171b23;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.support_navbar::-webkit-scrollbar {
  display: none;
}

.nav_language {
  width: 24px;
  height: 24px;
  gap: 0px;
  opacity: 1;
  padding: none;
  margin: none;
  vertical-align: middle;
  padding-right: 10px;
}

.password-input {
  position: relative;
  width: calc(100% + 10px);
}

.password-input img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-input input {
  width: 100%;
  box-sizing: border-box;
  margin: none;
  padding: 8px 0px 8px 10px;
}

.checkIcon {
  width: 20px;
  height: 20px;
  padding: 5px 5px 0px 0px;
  gap: 10px;
  opacity: 1;
}

.flex_left {
  display: flex;
  justify-content: left;
  padding-bottom: 10px;
  margin: 20px;
  padding-left: 20px;
}

.dotlottie-player {
  position: fixed;
  top: 100px;
  right: 100px;
}

.flex_spacebetween {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-top: 20px;
}

.flex_left {
  display: flex;
  justify-content: left;
  column-gap: 30px;
  margin-top: 20px;
}

.dropdown_language {
  position: relative;
  display: inline-block;
}

.dropdown-content_language {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: max-content;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
  z-index: 1;
  text-decoration: none;
}

.dropdown-content_language button {
  width: max-content;
  height: 35px;
  gap: 0px;
  opacity: 1;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #4a6395;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  margin: none;
  border: none;
  background: none;
}

.dropdown-content_language button:hover {
  font-weight: 600;
}

.dropdown_language span {
  width: max-content;
  height: 35px;
  gap: 0px;
  opacity: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #171b23;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  margin: none;
}

.dropdown_language span:hover {
  color: #2962ff;
  font-weight: 600;
}

.dropdown_language:hover .dropdown-content_language {
  display: block;
}

.StartlineSupportHeader {
  width: 401px;
  height: 62px;
  gap: 0px;
  opacity: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 62.5px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #2962ff;
}

.StartlineSupportHeader1 {
  width: 700px;
  height: 62px;
  gap: 0px;
  opacity: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 62.5px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #171b23;
}

.StartlineSupportHeader2 {
  width: 401px;
  height: 62px;
  gap: 0px;
  opacity: 0px;
  font-size: 25px;
  font-weight: 700;
  line-height: 62.5px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #171b23;
}

.StartlineSupportContent {
  width: 90%;
  height: max-content;
  gap: 0px;
  opacity: 0px;
  font-size: 19px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
  color: #64758f;
  letter-spacing: 0.01em;
}

.StartlineSupportSubHeading {
  width: 50vw;
  height: 42px;
  gap: 0px;
  opacity: 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 41.66px;
  letter-spacing: 0.10000000149011612px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #171b23;
}

.StartlineSupportLinks {
  width: 50vw;
  height: max-content;
  padding: 10px 15px 10px 15px;
  gap: 0px;
  border-radius: 15px;
  border: 1px 0px 0px 0px;
  justify-content: space-between;
  opacity: 0px;
  border: 1px solid #d4e0ff;
  margin-bottom: 10px;
}

.StartlineSupportLinks1 {
  width: 70vw;
  height: max-content;
  padding: 10px 15px 10px 15px;
  gap: 0px;
  border-radius: 15px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #d4e0ff;
  margin-bottom: 10px;
  text-align: center;
  background: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 26.04px;
  text-decoration-skip-ink: none;
}

.StartlineSupportLinks a {
  width: 70%;
  height: 26px;
  gap: 0px;
  opacity: 0px;
  font-size: 17px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #171b23;
  text-decoration: none;
}

.StartlineSupportLinks1 a {
  width: 70%;
  height: 26px;
  gap: 0px;
  opacity: 0px;
  font-size: 17px;
  font-weight: 400;
  line-height: 26.04px;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #171b23;
  text-decoration: none;
  background: none;
  border: none;
  text-align: center;
}

.StartlineSupport_button {
  width: 30vw;
  height: max-content;
  padding: 15px 0px;
  gap: 0px;
  border-radius: 15px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #d4e0ff;
  margin-bottom: 10px;
  text-align: center;
  background: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 26.04px;
  text-decoration-skip-ink: none;
}

.StartlineSupport_button a {
  text-decoration: none;
  color: #171b23;
}

.StartlineSupport_button button {
  text-decoration: none;
  color: #171b23;
  text-align: center;
  background: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 26.04px;
  text-decoration-skip-ink: none;
  border: none;
}

.StartlineSupport_button:hover {
  color: #64758f;
}

.StartlineSupport_button button:hover {
  color: #64758f;
}

.StartlineSupport_button a:hover {
  color: #64758f;
}

.StartlineSupportLinks a:hover {
  color: #64758f;
}

.StartlineSupportLinks1 a:hover {
  color: #64758f;
}

.StartlineSupportLinks1 button:hover {
  color: #64758f;
}

.StartlineSupportLinks1:hover {
  color: #64758f;
}

.greenbkg {
  background: #f2faf3;
  border-radius: 10px;
  padding: 25px 30px;
  width: 50vw;
  font-size: 19px;
  letter-spacing: 0.01em;
  display: block;
  margin: auto;
}

.greenbkg ol {
  padding: 0px 30px;
}

.greybkg {
  background: #f6f6f6;
  border-radius: 10px;
  padding: 25px 30px;
  width: 50vw;
  font-size: 19px;
  letter-spacing: 0.01em;
  display: block;
  margin: auto;
}

.redbkg {
  background: #fdf5ef;
  border-radius: 10px;
  padding: 15px 30px;
  width: 50vw;
  font-size: 19px;
  letter-spacing: 0.01em;
  display: block;
  margin: auto;
}

#corporateContent {
  display: none;
}

#teamSetting {
  display: none;
}
#bookmarkSetting {
  display: none;
}
#planSetting {
  display: none;
}

#DailyRecommendations {
  display: none;
}

#TechnologyTagging {
  display: none;
}

#Search {
  display: none;
}

#MultiAccount {
  display: none;
}

#CreateCompanyCard {
  display: none;
}

#LocationIdentifier {
  display: none;
}

.SupportPage_img {
  width: 50vw;
  height: auto;
  display: block;
  margin: auto;
}

.SystemUpdate_img {
  width: 30vw;
  height: auto;
  display: block;
  margin: auto;
}

#productinfo {
  display: none;
}

#financeinfo {
  display: none;
}
#contactinfo {
  display: none;
}

#CreatingAnAccount {
  display: none;
}

#SettingUpAccount {
  display: none;
}

#GeneralUser {
  display: none;
}
